body {
    font-family: "Sour Gummy", sans-serif;
}

:root {
    --title-color: #E53170;
}

h1{
    color: var(--title-color);
    font-weight: 900;
}


img {
    max-width: 128px;
    max-height: 128px;
}